@import './variables.scss';
.mainlogin {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 6rem;
  padding-right: 0rem;
  padding-block: 0rem;
}

.loginimagecontainer {
  grid-column: 7/13;
  display: flex;
  justify-content: flex-end;
  // width: 100%;
}

.loginimage {
  position: relative;
  width: 100%;
  height: 100%;
}

.formcontainer {
  grid-column: 1/6;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.containerbox {
  margin: 0.5rem 0;
}

.label {
  margin: 0.5rem 0;
  font-weight: 700;
  color: $text2;
}

.inputbox {
  height: 1rem;
  margin: 1rem 0rem;
}

.input {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
  border: 1px solid $text1;
  height: 2rem;
  padding-inline: 0.5rem;
  color: $placeholder;
}

.btncontainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.btn {
  text-transform: uppercase;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  color: $background;
  background-color: $text1;
  transition: background-color 0.3s ease-in;
}

.btn:hover {
  background-color: $background;
  color: $text1;
  border: 1px solid $text1;
  font-weight: 700;
}
.disabledbutton {
  background-color: gray;
}

.disabledbutton:hover {
  background-color: gray;
  cursor: not-allowed;
}

.forgotpassword {
  margin-top: 1.4rem;
}

.forgotpassword a {
  color: red;
  text-decoration: none;
}

.forgotpassword a:hover {
  text-decoration: underline;
}

// .registerlink {
// }

.registerlink a {
  color: #626262;
  text-decoration: none;
  font-weight: bold;
}

.registerlink a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  display: flex;
  justify-content: center;
  margin-top: -0.5rem;
}

.forgotpassword {
  margin-bottom: 1rem;
}
