@import './variables.scss';
.mainlogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginimagecontainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.loginimage {
  max-width: 100%;
  height: auto;
}

.formcontainer {
  flex: 1;
  padding: 20px;
}

// View 1

.container1 {
  display: flex;
}
.inputs1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input1 {
  margin: 5rem;
}

.label1 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 10px;
}

.hiddenradio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
// view 2
.containerbox {
  margin: 10rem 0;
}

.label {
  margin: 1rem 0;
  font-weight: 700;
  color: $text2;
}

.inputbox {
  height: 1rem;
  margin: 5.2rem 0rem;
}

.input {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
  border: 1px solid $text1;
  height: 2rem;
  padding-inline: 0.5rem;
  color: $placeholder;
}

.btncontainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.btn {
  text-transform: uppercase;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  color: $background;
  background-color: $text1;
  transition: background-color 0.3s ease-in;
}

.btn:hover {
  background-color: $background;
  color: $text1;
  border: 1px solid $text1;
  font-weight: 700;
}
.disabledbutton {
  background-color: gray;
}

.disabledbutton:hover {
  background-color: gray;
  cursor: not-allowed;
}

.forgotpassword {
  margin-top: 1.4rem;
}

.forgotpassword a {
  color: red;
  text-decoration: none;
}

.forgotpassword a:hover {
  text-decoration: underline;
}

// .registerlink {
// }

.registerlink a {
  color: #626262;
  text-decoration: none;
  font-weight: bold;
}

.registerlink a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  display: flex;
  justify-content: center;
  margin-top: -0.5rem;
}

.forgotpassword {
  margin-bottom: 1rem;
}
