@import 'variables.scss';

.mainContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2rem;
  padding-right: 0rem;
  padding-block: 0rem;
  background-color: $background;
}

.formContainer {
  grid-column: 1/7;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.registerImageContainer {
  grid-column: 7/13;
  display: flex;
  justify-content: flex-end;
}

.label {
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.input {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
  border: 1px solid $text1;
  height: 2rem;
  padding-inline: 0.5rem;
  color: $placeholder;
}

.inputError {
  background-image: url(/assets/error.svg);
  background-position: 95%;
  background-repeat: no-repeat;
  background-size: contain;
}

.btnSubmitContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnSubmit {
  text-transform: uppercase;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 1rem;
  color: $text1;
  border: 1px solid $text1;
  background-color: rgba(1, 78, 96, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.btnSubmit:hover {
  background-color: $text1;
  color: $background;
  border: 1px solid $text1;
  font-weight: 700;
}

.btnSubmit:disabled {
  background-color: $placeholder;
  color: $background;
  border: 1px solid $text1;
  font-weight: 400;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}
.checkboxLabel {
  margin-left: 0.5rem;
}
.checkbox {
  width: 1rem;
  height: 1rem;
  border: 1px solid $text1;
  appearance: none;
  border-radius: 0.2rem;
  transition: background-color 0.3s ease-in-out;
}

.checkbox:checked {
  background-color: $text1;
}
