//COLORS
$text1: #014e60;
$text2: #000000;
$background: #ffffff;
$primary-color: #ff6b6b;
$secondary-color: #d41d1d;

//NORMALIZE

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-weight: 400;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

body {
  background-color: $background;
  min-height: 100vh;
  width: 100%;
}

main {
  padding-inline: 5rem;
  padding-block: 2rem;
}
