//COLORS
$text1: #014e60;
$text2: #000000;
$background: #ffffff;
$primary-color: #ff6b6b;
$secondary-color: #d41d1d;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  font-family: inherit;
}
