@import './variables.scss';

.headerContainer {
  padding: 0;
  margin: 0;
}

.headerGradient {
  background: linear-gradient(
    135deg,
    $gradient1 10%,
    $gradient3 20%,
    $gradient1 30%,
    $gradient3 75%,
    $gradient2 100%
  );
  width: 100%;
  height: 8.5rem;
  background-repeat: no-repeat;
}

.userInformationContainer {
  height: 6.5rem;
  border: 1px solid $text2;
  padding-inline: 5rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.userInformation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
  padding-left: 15rem;
}
.avatarContainer {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  position: absolute;
  top: -75%;
}

.name {
  text-transform: capitalize;
}

.avatar {
  object-fit: contain;
}
