@import 'variables.scss';

// ESTILOS DE LANDING PAGE - HOME
.containerTitle {
    display: flex;
    flex-direction: column;
    align-self: flex-start; 
    justify-self: flex-start;
    width: 352px;
    border-bottom: 1.4px solid $text2;
    margin: 0rem 0.3rem;
}
.title {
    padding: 0.5rem;
    font-size: 24px;
    font-weight: 600;
    color: $text2;
}
.containerImages {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    overflow-y: auto;
    margin: 1rem 0rem;
}
.imageGrid,
.imageGridBottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1rem 0rem;
}
.imageGrid img,
.imageGridBottom img {
    width: 100%;
}


