@import './variables.scss';

.daycontainer {
  display: flex;
  align-items: center;
  margin: 5rem 10rem;
}

.daybuttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-button {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  margin: 0.2rem;
  background-color: #e0e0e0;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.day-button.selected {
  background-color: $text1;
  color: $background;
}

.infopanel {
  padding-left: 5rem;
}

.infocontent {
  font-size: 1rem;
}
