@import 'variables.scss';


.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.navBar {
    position: relative;
    background-color: $text2;
    height: 72px;
    width: 1280px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bulletless {
    list-style: none;
    width: 420px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px, 16px, 8px, 16px;
    gap: 32px;
}

.itemNav {
    color: $background;
    text-decoration: none;
    font-size: 16px;
}

.containerPrincipal {
    // background-color: gold;
    width: 574px;
    height: 331px;
    top: 136px;
    left: 80px;
    gap: 16px;
}

.containerTitle {
    height: 248px;
    line-height: 116.18px;
    // background-color: aquamarine;
    padding: 8px;
    gap: 8px;
}

.title {
    font-weight: 600;
    font-size: 96px;
    // width: 558px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.containerButtons {
    // width: 574px;
    height: 67px;
    gap: 16px;
    display: flex;
    // background-color: bisque;
    padding: 8px;
    margin-top: 16px;
}

.registerButton {
    font-family: 'Roboto';
    font-weight: 600;
    border: 1px solid $text1;
    background-color: #014E6033;
    border-radius: 16px;
    width: 160px;
    height: 51px;
    padding: 16px, 8px, 16px, 8px;
    color: $text1;
    gap: 8px;
}

.loginButton {
    font-family: 'Roboto';
    background-color: $text1;
    border: 1px solid $text1;
    border-radius: 16px;
    width: 160px;
    height: 51px;
    padding: 16px, 8px, 16px, 8px;
    color: #F8F8F8;
    font-weight: 600;
}

.containerSubtitles {
    position: absolute;
    font-family: 'Roboto';
    width: 352px;
    height: 75px;
    // background-color: steelblue;
    top: 595px;
    left: 80px;
}

.subtitleOne {
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
}

.subtitleTwo {
    font-weight: 600;
    font-size: 16px;
    line-height: 18.75px;
}

.imageClass {
    position: absolute;
    top: 72px;
    left: 676px;
}
