@import 'variables.scss';

// NAVBAR
.navBar {
  width: 100%;
  background-color: $text2;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.containerLogoNav {
  background-color: $background;
  filter: invert(1);
  margin-left: 1.5rem;
}
.ulNav {
  list-style: none;
  padding-right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.itemNav {
  color: $background;
  text-decoration: none;
  font-size: 1rem;
}

// PAGE INIT
.container {
  padding-inline: 5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.containerPrincipal {
  margin-top: 1.6rem;
  width: 35.87rem;
  height: 20.6rem;
  top: 8.5rem;
  left: 5rem;
  gap: 1rem;
}
.containerTitle {
  height: 15.5rem;
  line-height: 7.2rem;
  padding: 8px;
  gap: 8px;
}
.title {
  font-weight: 600;
  font-size: 6rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.containerButtons {
  height: 4.1rem;
  gap: 1rem;
  display: flex;
  padding: 8px;
  margin-top: 1rem;
}
.registerButton {
  font-family: 'Roboto';
  font-weight: 600;
  border: 1px solid $text1;
  background-color: #014e6033;
  border-radius: 1rem;
  width: 10rem;
  height: 3.1rem;
  padding: 16px, 8px, 16px, 8px;
  color: $text1;
  gap: 8px;
}
.loginButton {
  font-family: 'Roboto';
  background-color: $text1;
  border: 1px solid $text1;
  border-radius: 16px;
  width: 10rem;
  height: 3.1rem;
  padding: 16px, 8px, 16px, 8px;
  color: #f8f8f8;
  font-weight: 600;
}
.containerSubtitles {
  position: absolute;
  font-family: 'Roboto';
  width: 21.9rem;
  height: 75px;
  top: 31rem;
  left: 5rem;
}
.subtitleOne {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1rem;
  text-align: center;
}
.subtitleTwo {
  text-align: center;
  margin-top: 1.3rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1rem;
}
.containerImage {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  left: 5rem;
}
.containerImage img {
  width: 100%;
  height: auto;
}

// FOOTER

.containerFooter {
  background-color: $text2;
  width: 100%;
  height: 6.5rem;
  margin-top: -1.3rem;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}
.footerInfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}
.imageLogo {
  background-color: $background;
  filter: invert(1);
}
.textContainer {
  color: $background;
  padding: 0.5rem;
}
.textUniversidad {
  font-weight: 500;
  font-size: 1rem;
}
.copyright {
  color: $background;
  font-weight: 500;
  font-size: 11px;
  padding: 0.5rem 0rem;
  text-align: end;
}
.containerFollowIn {
  display: flex;
  flex-direction: column;
}
.contentFollowText {
  margin: 1rem;
  padding: 0rem -1rem;
  border-bottom: 1.4px solid $background;
}
.followText {
  color: $background;
  font-weight: 400;
  font-size: 1rem;
  margin: 0.4rem;
}
.iconsSocialMedia {
  margin-left: 1.4rem;
  display: flex;
  gap: 1rem;
}
