@import 'variables.scss';


.container {
    padding-inline: 5rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    // gap: 20px;
}

.navBar {
    width: 80rem;
    position: relative;
    background-color: $text2;
    // background-color: aquamarine;
    height: 4.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ulNav {
    list-style: none;
    width: 26.25rem;
    height: 3.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px, 16px, 8px, 16px;
    gap: 2rem;
}

.itemNav {
    color: $background;
    text-decoration: none;
    font-size: 1rem;
}

.containerPrincipal {
    // background-color: gold;
    margin-top: 3rem;
    width: 35.87rem;
    height:20.6rem;
    top: 8.5rem;
    left: 5rem;
    gap: 1rem;
}

.containerTitle {
    height: 15.5rem;
    line-height: 7.2rem;
    // background-color: aquamarine;
    padding: 8px;
    gap: 8px;
}

.title { 
    // font-family: 'Inter';
    font-weight: 600;
    font-size: 6rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.containerButtons {
    // width: 574px;
    height: 4.1rem;
    gap: 1rem;
    display: flex;
    // background-color: bisque;
    padding: 8px;
    margin-top: 1rem;
}

.registerButton {
    font-family: 'Roboto';
    font-weight: 600;
    border: 1px solid $text1;
    background-color: #014E6033;
    border-radius: 1rem;
    width: 10rem;
    height: 3.1rem;
    padding: 16px, 8px, 16px, 8px;
    color: $text1;
    gap: 8px;
}

.loginButton {
    font-family: 'Roboto';
    background-color: $text1;
    border: 1px solid $text1;
    border-radius: 16px;
    width: 10rem;
    height: 3.1rem;
    padding: 16px, 8px, 16px, 8px;
    color: #F8F8F8;
    font-weight: 600;
}

.containerSubtitles {
    position: absolute;
    font-family: 'Roboto';
    width: 21.9rem;
    height: 75px;
    // background-color: steelblue;
    top: 37.5rem;
    left: 5rem;
}

.subtitleOne {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1rem;
    text-align: center;
}

.subtitleTwo {
    text-align: center;
    margin-top: 1.3rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.1rem;
}

.imageClass {
    position: absolute;
    top: 4.5rem;
    left: 34.5rem;
}


.containerFooter {
    width: 80rem;
    height: 6.5rem;
    position: fixed;
    bottom: 0;
    z-index: 5;
    // top: 43.5rem;
    color: $background;
    background-color: $text2;
}