@import './variables.scss';
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width: 100%;
  padding: 1rem;
}

.containerProfesor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.formProfesor {
  margin-left: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 46rem;
  cursor: pointer;
  border: 0.1rem dashed gray;
  border-radius: 0.1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 80rem;
  cursor: pointer;
  border: 0.1rem dashed gray;
  border-radius: 0.1rem;
}
.input {
  display: none;
}

.containerupload {
  display: flex;
}

.titleCargarMaterial {
  align-self: flex-start;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
}

.upload {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
  background-color: beige;
}

.uploadspan {
  display: flex;
}

.btn {
  text-transform: uppercase;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  color: $background;
  background-color: $text1;
  transition: background-color 0.7s ease-in-out;
}
